<!-- Mega menu dropdown template -->
<div class="mega">
  <div class="mega-col-list">
    <span class="mega-col-label">Sản Phẩm</span>
    <a href="#" class="mega-link">Tủ Nhựa</a>
    <a href="#" class="mega-link">Sofa</a>
    <a href="#" class="mega-link">Bàn Ăn</a>
  </div>
  <div class="mega-col-list">
    <span class="mega-col-label">Thiết Kế & Thi Công</span>
    <a href="#" class="mega-link">Phòng Khách</a>
    <a href="#" class="mega-link">Phòng Ngủ</a>
    <a href="#" class="mega-link">Phòng Bếp</a>
  </div>
</div>
